<div class="row">
  <% @pending_approvals.each do |pending_approval| %>
    <div class='custom-card admin-card col-lg-3'>
      <div class="">
        <% if pending_approval.purpose == 'sell' %>
          <h3 class="alert alert-primary mt-3">WATER FOR SALE</h3>
        <% else %>
          <h3 class="alert alert-success mt-3">WATER WANTED</h3>
        <% end %>

        <div class='card-body'>
          <p class='card-text'>
            <b>Location:</b> <%= pending_approval.region.name %>, <%= pending_approval.division.name %> 
          </p> 
          <p class='card-text'>
            $<%= pending_approval.price %> 

            <small class="text-muted">
              <% if pending_approval.water_type == 'acre_foot' %>
                / per Acre Foot
              <% else %>
                / Per Share
              <% end %>
            </small>
          </p>

          <p class='card-text'>
            <% if pending_approval.water_type == 'acre_foot' %>
              Acre Feet Available: <%= pending_approval.available %>
            <% else %>
              Shares Available: <%= pending_approval.available %>
            <% end %>
          </p>

          <p>
            Description: <%= pending_approval.title %>
          </p>

          <div class='row'>
            <div class='col-md-6 column admin-btn'>
              <%= link_to 'Approve', approve_post_path(pending_approval), class: 'btn btn-success btn-block admin-btn mb-1', id:"approve_#{pending_approval.id}" %>
            </div>
            <div class='col-md-6 column admin-btn'>
              <%= link_to 'Review', edit_post_path(pending_approval), class: 'btn btn-secondary btn-block' %>
            </div>
          </div>                         
        </div>
      </div>
    </div>
  <% end %>
</div>