<div class="carousel slide homepage-carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "https://s3.amazonaws.com/utah-water-right-exchange/mountain-lake.jpg", class: "homepage-image" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://s3.amazonaws.com/utah-water-right-exchange/farm-1720549_1280.jpg", class: "homepage-image" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "https://s3.amazonaws.com/utah-water-right-exchange/winter-barn-556696_1920.jpg", class: "homepage-image" %>
    </div>
  </div>
</div>

<div id='homepage-header'>
  <h3 class="display-4 text-center mt-3 mb-4">Utah Water Right Exchange</h3>
  <p class="lead text-center m-4">As the best water right brokerage service in the State of Utah, we strive to serve as a one stop shop for buying and selling water rights.</p>
</div>
 
<div class="container-fluid" id='homepage-body'>  
  <div class="row" >
    <div class="col-md-6">
      <h3 class=" ml-4 homepage-heading">What We Do</h3>

      <p class="lead m-5">
        Utah Water Right Exchange was created to provide information for the sale of
        individual water rights, so a market price can be determined. Using this
        information, we hope to find a buyer and seller that are both satisfied when the sale
        is complete.
      </p>
    </div>

    <div class="col-md-6">
      <h3 class=" ml-4 homepage-heading">What You Do</h3>

      <p class="lead mx-5 mt-5">
        When you need to buy or sell a Water Right you can use our website to advertise
        your water right. We serve as a classifieds page where you can create listings for
        any and all of your water rights in the state of Utah. All you need to do is create an
        account, and from there it is as simple as providing essential information on the
        water right. After you submit your listing it will be reviewed, and once it is
        accepted it will be posted on the website for all to see.
      </p>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6'>
      <h3 class='ml-4 mt-5 homepage-heading'>What Sets Us Apart</h3>

      <p class="lead m-5">
        Utah Water Right Exchange offers the best water right brokerage services in the State
        of Utah. We serve as a clearing house for water rights. It is our goal to establish a market place
        where water rights can be bought and sold at a fair market price.
      </p>

      <p class="lead m-5">
        It is the goal and purpose of Utah Water Right Exchange to gather enough information on the
        sale of individual water rights that a market price range can be established. With this information
        available a fair price can be negotiated between the buyer and seller. The listing is free and a
        commission will only be charged when a sale is completed.
      </p>

      <p class="lead m-5">
        The listing is non-exclusive so if you find a buyer outside the website no commission will be
        required. You may enter your own listing information or call me and I will enter it for you.
        When there is an inquiry about your water right it will come to me to negotiate the sale. It will
        not come directly to you. If I successfully negotiate a sale and act as the broker in completing
        the sale a commission will be charged. The typical commission will be 6% for irrigation
        company shares or 10% for underground water right sales where a change of location is required.
      </p>
    </div>

    <div class='col-md-6'>
      <h3 class='ml-4 mt-5 homepage-heading'>Who We Are</h3>

      <p class="lead mt-5 ml-5">
        Mardell D. Topham, Water Right Broker
      </p>

      <p class="lead ml-5">
        Mardell is the Water Right Broker for UTAH WATER RIGHT EXCHANGE and the Principal
        Broker for ROYAL HERITAGE REALTY.
      </p>

      <h3 class='ml-4 mt-5 homepage-heading'>Customer Service</h3>

      <p class="lead m-5">
        I believe in treating my clients with fairness and integrity. As your water right agent, I feel that it
        is my responsibility to look out for your needs and desires and advise you in all your important
        water right decisions.
      </p>

      <div class='col-md-9'>
        <h3 class='ml-3 mt-5 homepage-heading'>Contact</h3>

        <div class="lead mt-5">
          <ul style="list-style-type:none;">
          <li>Mardell D. Topham</li>
          <li>Utah Water Right Exchange</li>
          <li>886 East 8475 South</li>
          <li>Sandy, Utah 84094-6330</li>
          <li>Office: 801-566-8100</li>
          <li>Fax: 801-568-0488</li>
          <li>Mobile: 801-201-5221</li>
          <li><a href="mailto:mdtopham@msn.com">Email: mdtopham@msn.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr class="m-5">

  <p class="text-center mb-5">
    <%= link_to 'View Listings', posts_path, class: 'btn btn-custom mr-2' %>
    <% if current_user.try(:type) == 'GuestUser' %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-secondary-custom'  %>
    <% else %>
      <%= link_to "Create a Listing", new_post_path, class: 'btn btn-secondary-custom' %>
    <% end %>
  </p>
</div>

<% non_footer_action %>