<%= form_for @post, class: 'form-horizontal' do |f| %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Water Right Exchange", sticky: false) %>
    <% end %>
  <% end %>

  <div class="row">
    <%= render partial: 'purpose', locals: { f: f } %>

    <div class="mb-3 col-md-6">
      <label for="price" class="control-label">Price Per:</label>
      
      <%= render partial: 'water_type', locals: { f: f } %>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= f.number_field :price, class: 'form-control', id: 'price' %>     
      </div>
    </div>

    <div class="mb-3 col-md-6">
      <label for="available" class="control-label">Available:</label>
      <%= f.number_field :available, class: 'form-control', :step => :any, id: 'available' %>  
    </div>
  </div>

  <div class="row">
    <div class="field">
      <%= f.label :region_id %><br />
      <%= f.collection_select :region_id, Region.order(:name), :id, :name, include_blank: true %>
    </div>
    <div class="field">
      <%= f.label :division_id, "Division" %><br />
      <%= f.grouped_collection_select :division_id, Region.order(:name), :divisions, :name, :id, :name, include_blank: true %>
    </div>
  </div>


  <div class="row">
    <div class="mb-3 col-md-12">
      <label for="title" class="control-label">Description:</label>
      <%= f.text_area :title, class: 'form-control', id: 'title' %>  
    </div>
  </div>
  
  <div class="row">
    <div class="mb-3 col-md-12">
      <label for="address" class="control-label">Where is the water used?</label>
      <%= f.text_area :address, class: 'form-control', id: 'address' %>  
    </div>
  </div>

  <%= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser' %>

  <%= f.submit 'Save', class: "btn btn-custom btn-lg btn-block mt-3" %>

<% end %>