<%= form_for @post, class: 'form-horizontal' do |f| %>

  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Water Right Exchange", sticky: false) %>
    <% end %>
  <% end %>

  <div class="row">
    <%= render partial: 'purpose', locals: { f: f } %>

    <div class="mb-3 col-md-6">
      <label for="price" class="control-label">Price Per:</label>
      
      <%= render partial: 'water_type', locals: { f: f } %>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <%= f.number_field :price, class: 'form-control form-control-custom', id: 'price' %>     
      </div>
    </div>

    <div class="mb-3 col-md-6">
      <label for="available" class="control-label">Available:</label>
      <%= f.number_field :available, class: 'form-control form-control-custom', :step => :any, id: 'available' %>  
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 my-3 mr-3">
      <%= f.collection_select( :region_id, Region.order(:name), :id, :name, {:include_blank => "Select Region"}, class: 'btn btn-secondary' )%>
    </div>

     <div class="col-md-4 my-3">
      <%= f.grouped_collection_select :division_id, Region.order(:name), :divisions, :name, :id, :name, {:include_blank => "Select Division"}, class: 'btn btn-secondary' %>
    </div>
  </div>

  <div class="row">
    <div class="mb-3 col-md-12">
      <label for="title" class="control-label">Description:</label>
      <%= f.text_area :title, class: 'form-control form-control-custom', id: 'title' %>  
    </div>
  </div>
  
  <div class="row">
    <div class="mb-3 col-md-12">
      <label for="address" class="control-label">Where is the water used?</label>
      <%= f.text_area :address, class: 'form-control form-control-custom', id: 'address' %>  
    </div>
  </div>
  
  <div class="row">
      <div class="mb-3 col-sm-4">
        <label for="right-number" class="control-label">Water Right Number: (if applicable)</label>
        <%= f.text_area :right_number, class: 'form-control form-control-custom', id: 'right-number' %>  
    </div>
  </div>

  <%= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser' %>

  <%= f.submit 'Save', class: "btn btn-custom btn-lg btn-block mt-3" %>

<% end %>