<div class="col-md-4">
  <div class="card custom-card">
    <h2>
      <%= post.title %>
    </h2>
    <div class="card-body">
      <p class="card-text">
        Region: <%= post.location %>
      </p> 
      <p class="card-text">
        Price per Share: $<%= post.price %>
      </p>

      <p class="card-text">
        Shares Available: <%= post.available %>
      </p>                    
      <small class="text-muted">Posted on: <%= post.created_at.strftime("%m-%d-%Y") %></small>
      <small class="edit">
        <%= link_to 'Edit', edit_post_path(post), id: "edit_#{post.id}" %>
      </small>
    </div>
  </div>
</div>