<div class='col-lg-3 custom-card hvr-float'>
  <%= link_to post_path(post), class: 'no-hover' do %>
    <div id="custom-card-content">
      <% if post.purpose == 'sell' %>
        <h3 class="alert alert-primary">WATER FOR SALE</h3>
      <% else %>
        <h3 class="alert alert-success">WATER WANTED</h3>
      <% end %>
      
      <div class='card-body'>
        <p class='card-text'>
          <b>Location:</b> <%= post.region.name %>, <%= post.division.name %>
        </p> 
        <p class='card-text'>
          $<%= post.price %> 

          <small class="text-muted">
            <% if post.water_type == 'acre_foot' %>
              / Acre Foot
            <% else %>
              / Share
            <% end %>
          </small>
        </p>

        <p class='card-text'>
          <% if post.water_type == 'acre_foot' %>
            Acre Feet Available: <%= post.available %>
          <% else %>
            Shares Available: <%= post.available %>
          <% end %>
        </p>

        <p>
          Description: <%= truncate(post.title, :length => 25) %>
        </p>   

        <% if post.sale_status == 'sold' %>
          <h5 class='alert alert-danger'>Sale Date: <%= post.sale_date.strftime("%m-%d-%y") %></h5>
          <%= status_label post.status %>
        <% else %>
          <small class='text-muted'>Posted on: <%= post.created_at.strftime('%m-%d-%Y') %></small>
          <%= status_label post.status %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>