<div class="container">
  <div class="text-center show-container">
    <div class="card box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <%= render 'shared/post_purpose' %>
        </h4>
      </div>
      <div class="card-body">
        <div>
          <h1 class="card-title pricing-card-title my-1">$<%= @post.price %> 
            <small class="text-muted">
              <% if @post.water_type == 'share' %> 
                / Share
              <% else %>
                / Acre Foot
              <% end %>
            </small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <% if @post.water_type == 'share' %> 
              <li class="show-item">Shares Available: <%= @post.available %></li>
            <% else %>
              <li class="show-item">Acre Feet Available: <%= @post.available %></li>
            <% end %>  
            <li class="show-item">Water Location: <%= @post.region.name %>, <%= @post.division.name %></li>
            <% if @post.irrigation_company != ""%>
              <li class="show-item">Irrigation Company: <%= @post.irrigation_company %></li>
            <% end %>
            <li class="show-item"><%= @post.address %></li>
            <li class="show-item"><%= @post.title %></li>
          </ul>
        </div>

        <div class="float-right">
          <%= link_to '', edit_post_path, class: "fas fa-edit custom-icon" if policy(@post).update? %>
          <%= link_to '', post_path, method: :delete, id: "delete_post_#{@post.id}_from_index", data: { confirm: 'Are you sure?' }, class: "fas fa-trash custom-icon " if policy(@post).delete? %>
        </div>
      </div>
    </div>
  </div>

  <% if current_user.try(:type) == 'AdminUser' %>
    <%= render 'user_information' %>
    <%= render 'sale_date' %>
    <div class='mt-5'>
      <div id='comments' data-post-id="<%= @post.id %>">
        <%= render @post.comments %>
      </div>
      <%= render 'comments/comment_form' %>
    </div>
  <% else %>
    <div class="show-container">
      <div class='col-sm-6'>
      
        <%= render 'shared/contact_card'%>
    
        <h5 class='text-center mt-2'>OR</h5>
      
        <%= link_to 'Send a Message', new_conversation_path, class: 'btn btn-secondary-custom btn-lg col-md-12'  %>
      </div>
    </div>
  <% end %>
</div> 