<div class="container">
  <div class="text-center show-container">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">
          <%= render 'shared/post_purpose' %>
        </h4>
      </div>
      <div class="card-body">
        <div>
          <h1 class="card-title pricing-card-title my-1">$<%= @post.price %> <small class="text-muted">/ per share</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li class="show-item">Shares Available: <%= @post.available %></li>
            <li class="show-item">Water Location: <%= @post.region.name %>, <%= @post.division.name %></li>
            <li class="show-item"><%= @post.address %></li>
            <li class="show-item"><%= @post.title %></li>
          </ul>
        </div>

        <div class="float-right">
          <%= link_to '', edit_post_path, class: "fas fa-edit custom-icon" if policy(@post).update? %>
          <%= link_to '', post_path, method: :delete, id: "delete_post_#{@post.id}_from_index", data: { confirm: 'Are you sure?' }, class: "fas fa-trash custom-icon " if policy(@post).delete? %>
        </div>
      </div>
    </div>
  </div>

  <% if current_user.try(:type) == 'AdminUser' %>
    <%= render 'user_information' %>
    <%= render 'sale_date' %>
    <div id='comments' data-post-id="<%= @post.id %>">
      <%= render @post.comments %>
    </div>
    <%= render 'comments/comment_form' %>
  <% else %>
    <div class="card-deck my-3 text-center show-container">
        <div>
          <%= link_to 'Message Seller', new_conversation_path, class: 'btn btn-secondary-custom btn-lg btn-block mt-3'  %>
        </div>
    </div>
  <% end %>
</div> 